@main-color: #e92322;


// 头部区域


#header{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #666;
    .container{
        position: relative;
        font-size: 12px;
        a{
            color: #666;
            text-decoration: none;
        }
        .link:hover{
            & img{
                display: block;
            }
        }
        img{
            position: absolute;
            top:40px;
            left:50%;
            transform: translateX(-50%);
            display: none;
            z-index: 3;
        }
        .row{
            >div~div{
                border-left: 1px solid #666;
            }
        }
       
    }
}

//导航区域

#nav {
    background-color: #fff;
    margin-bottom: 0;
    top: 0px;
    z-index: 2;
    width: 100%;
    .navbar-header {
        /* 移动端显示的按钮 */
        .navbar-toggle {
            margin-top: 23px;
        }
        .navbar-brand {
            height: 80px;
            /* 注意a的行高只能写50px因为a自带了15px padding-top bottom 内容挤得只有50px 行高只能是50px */
            line-height: 50px;
            >i {
                font-size: 30px;
                &.icon-icon {
                    color: @main-color;
                }
                &.icon-logo {
                    color: #000;
                }
            }
        }
    }
    .navbar-collapse {
        .navbar-nav {
            >li {
                >a {
                    height: 80px;
                    line-height: 50px;
                    &:hover {
                        border-bottom: 2px solid @main-color;
                    }
                }
                &.active {
                    >a {
                        background-color: #fff;
                        border-bottom: 2px solid @main-color;
                    }
                }
            }
        }
    }
}



//轮播图区域

