@main-color: #e92322;


// 头部区域


#header {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #666;

    .container {
        position: relative;
        font-size: 12px;

        a {
            color: #666;
            text-decoration: none;
        }

        .link:hover {
            & img {
                display: block;
            }
        }

        img {
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            z-index: 3;
        }

        .row {
            >div~div {
                border-left: 1px solid #666;
            }
        }
        .modal-body{
            .form-horizontal{
                .control-label{
                    padding-top: 0;
                }
                button{
                    width: 100%;
                    background-color: green;
                }
            }
        }
    }
}

//导航区域

// #nav {
//     background-color: #fff;
//     margin-bottom: 0;
//     top: 0px;
//     z-index: 2;
//     width: 100%;
//     .navbar-header {
//         /* 移动端显示的按钮 */
//         .navbar-toggle {
//             margin-top: 23px;
//         }
//         .navbar-brand {
//             height: 80px;
//             /* 注意a的行高只能写50px因为a自带了15px padding-top bottom 内容挤得只有50px 行高只能是50px */
//             line-height: 50px;
//             >i {
//                 font-size: 30px;
//                 &.icon-icon {
//                     color: @main-color;
//                 }
//                 &.icon-logo {
//                     color: #000;
//                 }
//             }
//         }
//     }
//     .navbar-collapse {
//         .navbar-nav {
//             >li {
//                 >a {
//                     height: 80px;
//                     line-height: 50px;
//                     &:hover {
//                         border-bottom: 2px solid @main-color;
//                     }
//                 }
//                 &.active {
//                     >a {
//                         background-color: #fff;
//                         border-bottom: 2px solid @main-color;
//                     }
//                 }
//             }
//         }
//     }
// }

//导航区域

#nav {
    background-color: #fff;
    margin-bottom: 0;
    top: 0;
    z-index: 2;
    width: 100%;

    .container {


        .navbar-header {
            .navbar-toggle {
                margin-top: 23px;
            }

            .navbar-brand {
                height: 80px;
                line-height: 50px;
                font-size: 30px;

                .icon-icon {
                    color: @main-color;
                }

                .icon-logo {
                    color: #333;
                }
            }
        }

    }

    .navbar-collapse {
        li {
            a {
                height: 80px;
                line-height: 50px;


            }

            &.active {
                >a {
                    background-color: #fff;
                }

                border-bottom:2px solid @main-color;
            }

            &:hover {
                border-bottom: 2px solid @main-color;
            }
        }
    }
}


//轮播图区域
#slide {
    .large-img {
        width: 100%;
        height: 410px;
        background-position: center center;

    }

    .small-img {
        width: 100%;
    }
}

//支付区域

#payment {
    padding: 40px;

    .media {
        padding: 10px;

        a {
            color: #333;

            text-decoration: none;

            &:hover {
                color: @main-color;
            }
        }
    }
}

// 预约页面
#booking {
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

//产品区域
#products {
    background-color: #f5f5f5;
    padding: 40px 0;

    .nav-tabs {
        li {
            a {
                border: 0;
                border-bottom: 3px solid transparent;
                font-size: 16px;
                color: #333;

                &:hover {
                    background-color: transparent;

                }
            }

            &.active {
                a {
                    background-color: transparent;
                    border-bottom: 3px solid @main-color;

                }

            }
        }
    }

    .tab-content {
        .row {
            .product {
                display: flex;

                margin-top: 20px;
                background-color: #fff;
               

                &.active {
                    background-color: @main-color;
                    color: #fff;
                    position: relative;

                    &::before {
                        font-family: itcast;
                        content: "\e915";
                        position: absolute;
                        font-size: 30px;
                        left: 0;
                        top: -6px;
                    }
                }

                .left {
                    flex: 1;
                    // height: 160px;
                    padding: 15px;
                    h4 {
                        text-align: center;
                    }
                    .row{
                        >div{
                            // padding: 15px;
                            &:nth-of-type(2n) {
                                text-align: right;
                            }
                            margin-bottom: 10px;
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }

                   

                    
                
                }
              
                .right {
                    width: 120px;
                    // @media (max-width: 340px){
                    //     width: 100px;
                    // }
                    //屏幕小于340px时候要变宽度
                    @media(max-width: 340px){
                        width: 100px;
                    }
                    // @media (min-width:992px) and (max-width:1200px){
                    //     width: 100px;
                    // }
                    // 中屏幕时候也要改变右边的宽度
                    @media(min-width: 992px) and (max-width:1200px){
                        width: 100px;
                    }
                    border-left: 1px dashed #ccc;
                   
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        background-color: #f5f5f5;
                        left: -8px;
                        border-radius: 50%;
                    }

                    &::before {
                        top: -8px;
                    }

                    &::after {
                        bottom: -8px;
                    }

                    span {
                        strong {
                            font-size: 30px;
                        }
                    }
                    .tooltips {
                        position: absolute;
                        top: 15px;
                        width: 100%;
                        text-align: center;

                        & .btn-default:nth-of-type(1) {
                            border: 1px solid @main-color;
                            color: @main-color;
                        }

                        & .btn-default:last-of-type {
                            border: 1px solid #0f0;
                            color: #0f0;
                        }

                        & .btn-default:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }

    }
}

#news{
    padding: 40px 0;
    .row{
        >div{
            h4{
                text-align: center;
                line-height:40px ;
                border-bottom: 1px dashed #ccc;
                position: relative;
                &::after{
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    content:'';
                    right:-10px;
                    bottom: -5px;
                }
            }
            .nav-tabs{
                @media (max-width:992px){
                    li{
                        width: 25%;
                        a{
                            width: 60px;
                            margin: 0 auto;
                        }
                    }
                }
                border-bottom: 0;
                li{
                    a{
                        color: #666;
                        border-radius: 50%;
                        margin-bottom: 20px;
                        border: 0;
                        &:hover{
                            background-color: @main-color;
                        }
                        // &:active{
                        //     background-color: @main-color;
                        // }

                        i{
                            font-size: 30px;
                        }
                    }
                    &.active{
                        a{
                            background-color: @main-color; 
                        }
                    }
                }
            }
        }
    }
}
// 底部区域
#footer {
    .container{
        h3{
            text-align: center;
        }
        .content{
            .row{
                // text-align: center;
                // padding: 20px 0;
                a{
                    display: block;
                    text-align: center;
                    color: #666;
                    &:hover{
                        color: @main-color;
                        text-decoration: none;
                    }
                }
                i{
                    font-size: 60px;
                }
            }
        }
       
    }
}